aiofiles==23.1.0
aiohttp==3.8.3
asyncio_atexit==1.0.1
beautifulsoup4==4.12.2
ImageHash==4.3.1
PicImageSearch==3.9.2
Pillow==9.5.0
selenium==4.10.0
undetected_chromedriver==3.2.0
webdriver_manager==3.8.4
